In [68]:
import sys
import numpy

In [69]:
name = input ("Enter your name?")

In [70]:
print(name)

kish

In [71]:
for i in range(5):
    print("*" * i)

*
**
***
****

In [72]:
number = input("please enter your name")
# print(type(number))

if(int(number) % 2 == 0):
    print('number is even')
else:
    print('number is odd')

ValueError: invalid literal for int() with base 10: 'kish'

In [ ]:
#loops
for i in range(1,16):
    if (i%3==0 and i%5 ==0):
        print( "buzzwass")
    elif(i%3==0):
        print("buzz")
    elif(i%5==0):
        print("wass")
    else:
        print(i)

1
2
buzz
4
wass
buzz
7
8
buzz
wass
11
buzz
13
14
buzzwass

In [ ]:
#funtions
def textExpo(txt):
    txt = txt.upper()
    return txt

word = input("Enter a word: ")
textExpo(word)

'KISH'

In [ ]:
#dictionaries
fruits = {'avocado': 30, 'mango': 20, 'orange': 10, 'apple': 30, 'grapes': 20}
print(fruits.keys())
print(fruits.values())

#print(fruits['orange')
print(fruits.get('avocado'))

fruits['kiwi'] = 100
print(fruits)

fruits.pop('mango')
print(fruits)

students=['daffy', 'kachinja', 'gustavo', 'pablo', 'jongo']
marks= [80, 78, 95, 65, 88]
dic1 = dict(zip(students, marks))
print(dic1)

schools = {'maranda boys': 10, 'liteni boys': 6.8, 'kanunga boys':8.1}
schools['moi girls'] = 8.4
print(schools)

dict_keys(['avocado', 'mango', 'orange', 'apple', 'grapes'])
dict_values([30, 20, 10, 30, 20])
30
{'avocado': 30, 'mango': 20, 'orange': 10, 'apple': 30, 'grapes': 20, 'kiwi': 100}
{'avocado': 30, 'orange': 10, 'apple': 30, 'grapes': 20, 'kiwi': 100}
{'daffy': 80, 'kachinja': 78, 'gustavo': 95, 'pablo': 65, 'jongo': 88}
{'maranda boys': 10, 'liteni boys': 6.8, 'kanuinga boys': 8.1, 'moi girls': 8.4}

In [ ]:
#pandas
import pandas as pd

data = {'oranges': [6,3,5,7,8,9], 'mangoes': [7,8,9,5,2,6]}
df = pd.DataFrame(data, index=['nai', 'ukambani', 'marakwet', 'kisii', 'laikipia', 'eldoret'])

print(df)


clusters = {'compScience': [33, 43, 27, 31, 40], 'BscGen': [44, 27, 28, 31, 23], 'BscMath': [44, 45, 46, 27, 25], 'Eng': [27, 31, 35, 42,44]}
pdSeries = pd.Series('compScience')
print(pdSeries)


csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
# using the attribute information as the column names
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Class']
iris =  pd.read_csv(csv_url, names = col_names)
iris.head()

          oranges  mangoes
nai             6        7
ukambani        3        8
marakwet        5        9
kisii           7        5
laikipia        8        2
eldoret         9        6
0    compScience
dtype: object

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [76]:

iris.tail(5)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width           Class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [73]:
iris.describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [75]:
iris['Class'].describe()

count             150
unique              3
top       Iris-setosa
freq               50
Name: Class, dtype: object

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          99 non-null     float64
 1   0.222222222  99 non-null     float64
 2   3.5          99 non-null     float64
 3   0.625        99 non-null     float64
 4   1.4          99 non-null     float64
 5   0.06779661   99 non-null     float64
 6   0.2          99 non-null     float64
 7   0.041666667  99 non-null     float64
 8   setosa       99 non-null     object
dtypes: float64(8), object(1)
memory usage: 7.1+ KB

In [ ]:
#matplotlib